@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.font-roboto {
  font-family: "Roboto";
}

body {
  color: rgb(var(--foreground-rgb));
  background: inherit;
}

.site-header {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  width: 100%;
  background: #fff;
  height: 78px;
  margin-bottom: 0;
  box-shadow: #7198ef 0 0 11px;
  position: sticky;
  z-index: 10000;
  top: 0;
  border-bottom: 2px solid #c7c7c700;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  background: #222222;
  /* border-radius: 0px 0px 25px 25px; */
  border-radius: 0vw 0vw 3vw 3vw;
  font-family: "Roboto";
}

@media only screen and (max-width: 480px) {
  .site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    width: 100%;
    background: #fff;
    height: 100px;
    margin-bottom: 0;
    box-shadow: #7198ef 0 0 11px;
    position: sticky;
    z-index: 10000;
    top: 0;
    border-bottom: 2px solid #c7c7c700;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    background: #222222;
    border-radius: 0vw 0vw 3vw 3vw;
    font-family: "Roboto";
  }
  .site-title {
    font-size: 3vw;
  }
  .site-icon {
    display: none;
  }
}

.site-header:hover {
  box-shadow: #7198ef 0 4px 16px;
}

.site-brand-foot {
  line-height: 54px;
  color: white;
}

.border-image {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
  border-image: linear-gradient(
      89deg,
      #a0dbfd 1%,
      #947bed 26%,
      #fb81b5 51%,
      #ffbd75 98%
    )
    1;
  -o-border-image: linear-gradient(
      88deg,
      #0f6a97 0.66%,
      #9679fa 28.1%,
      #3287bb 61.1%,
      #03a9f4 100%
    )
    1;
  border-image: linear-gradient(
      89deg,
      #a0dbfd 1%,
      #947bed 26%,
      #fb81b5 51%,
      #ffbd75 98%
    )
    1;
  border-bottom: 3px solid;
  display: initial;
  padding-bottom: 3px;
}
@media only screen and (max-width: 480px) {
  .border-image {
    font-size: 2em;
    color: #333;
    border-image: linear-gradient(
        89deg,
        #a0dbfd 1%,
        #947bed 26%,
        #fb81b5 51%,
        #ffbd75 98%
      )
      1;
    -o-border-image: linear-gradient(
        88deg,
        #0f6a97 0.66%,
        #9679fa 28.1%,
        #3287bb 61.1%,
        #03a9f4 100%
      )
      1;
    border-image: linear-gradient(
        89deg,
        #a0dbfd 1%,
        #947bed 26%,
        #fb81b5 51%,
        #ffbd75 98%
      )
      1;
    border-bottom: 3px solid;
    display: initial;
    padding-bottom: 0px;
    line-height: 50px;
  }
}
/* .custom-dropdown-items {
  display: block;
  height: fit-content;
  line-height: 10px;
  padding: 0 8px;
  padding-top: 30px;
  font-size: 1.05rem;
  color: white;
  &:hover {
  }
}
.custom-dropdown-menu {
  background-color: white;
} */

.link_design {
  a {
    background: linear-gradient(
      to bottom,
      rgba(30, 115, 190, 0.55) 0%,
      rgba(30, 115, 190, 0.55) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 3px;
    color: #3a3a3a;
    text-decoration: none;
    transition: background-size 0.3s ease;
  }

  a:hover {
    background-size: 4px 100%;
  }
}
